.bigdont
{
    font-size: 50pt;
    text-align: center;
}

.dont-grid
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 1rem;
    /* grid-template-columns: repeat(3, 1fr); */

    padding: 1rem;

    min-height: 90%;
}

.content-wrapper
{
    min-height: 100%;
}

.content-wrapper .dont
{
    max-width: 30%;
    width: 300px;
    height: auto;
    max-height: 300px;
    aspect-ratio: 1/1 !important;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: var(--mainDark1);
    border-radius: 0.5rem;

    font-size: 20pt;

    color: var(--mainLight);
    text-decoration: none;

    text-align: center;
}

/* below 750px, make it a 2x2 grid */
@media screen and (max-width: 750px)
{
    .content-wrapper .dont
    {
        max-width: 45%;
    }
}


.content-wrapper .dont:hover
{
    background: var(--mainDark2);
}

.content-wrapper .dont.disabled
{
    pointer-events: none;

    opacity: 0.5;
}